.App {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
  background-color: #f4eee4;
   min-height: 100vh
}

textarea {
  font-size: 1rem;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.output {
  margin-top: 1rem;
  max-width: 600px;
  margin-inline: auto;
  text-align: left;
}
